{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Quadratics</title>
    <!--Reference to Javascript and CSS-->
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/quiz.js' %}" defer></script>
    <!--Navigation Bar-->
    <nav>
        <ul>
            <li>
                <form action="{% url 'eduprod:index' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Home</button>
                </form>
            </li>
            <li>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            </li>
        </ul>
    </nav>
    <!--Navigation Bar-->
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="user" content="{{ request.user.username }}">
</head>
<body>
    <!--Message from the Login-->
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <!--A extra content will be here due to this page is a template for all pages.-->
    {% block body %}
    {% endblock %}
</body>
</html>
