/* Custom Fraction Tag */
fraction, numerator, denominator {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
    text-align: center;
}

denominator {
    border-top: 1px solid;
    display: block;
}

/* Custom Root Tag */
root{
    text-decoration:overline;
}
   
/* Nagivation Bar Design */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    border: solid #ccc;
}
  
nav li button {
    border: none;
    cursor: pointer;
    padding: 10px;
    color: white;
    float: right;
    background-color: #666;
    border-left: 3px solid #ccc;
    font-size: 20px;
}

nav li button:hover {
    background-color: black;
}

/* Body/Content Design */
body{
    background-color: #bbb;
}

body p{
    font-size: 16px; 
    line-height: 1.6; 
    margin-top: 20px; 
}

h1 {
    text-align: center;
    display: block;
    padding: 20px;
    font-family: Verdana, sans-serif;
}

/* List Design */
ol, ul.points {
    margin-left: 20px; /* Indent the list */
    display: inline-block;
    padding: 20px; 
    background-color: #f0f0f0; 
    margin-bottom: 20px; 
    width: auto;
    border: solid #ccc;
}

/* Button Design */
body button {
    display: block;
    margin: auto;
    size: 50px;
    border: solid #ccc;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

body button:hover{
    background-color: #ddd;
}

/* Custom Class Grid Design */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 3 columns of equal width */
    grid-template-rows: repeat(2, 1fr); /* Creates 2 rows of equal height */
    gap: 10px; /* Adds a gap between grid items */
    padding: 10px; /* Adds padding around the grid */
}

.grid-container a {
    background-color: #f0f0f0; 
    padding: 20px; 
    text-align: center; 
    text-decoration: none; 
    color: #333; 
    padding: 40px;
    font-size: 30px;
    border: solid #ccc;
}

.grid-container a:hover {
    background-color: #ddd; /* Slightly darker grey on hover */
}

@media (max-width: 600px) {
    .grid-container {
       grid-template-columns: 1fr; /* Stacks items into a single column */
       grid-template-rows: repeat(5, 1fr); /* Adjusts the number of rows */
    }
}
   
