
/*.question, .answer { margin: 20px; font-size: 20px; }
#revealBtn { margin: 20px; font-size: 16px; cursor: pointer; } */

p{
    font-size: 0912px;
}

fraction, numerator, denominator {
    display: inline-block;
    vertical-align: middle;
    padding-left: 2px;
}

fraction {
    display: inline-block;
    text-align: center;
}

denominator {
    border-top: 1px solid;
    display: block;
}
