{% extends "eduprod/layout.html" %}
{% block body %}
<h1>Complete the Square</h1>
<p>To solve quadratic equations through Completing the Square, follow these steps:</p>
<ol>
    <li>Identify the Quadratic Equation: <br>
        A quadratic equation is in the form ax^2 + bx + c = 0, 
    </li>
    <br>
    <li>Add the term to complete the square: <br>
        If there is a c term within the quadratic move it to ther other side. <br>
        Add (<fraction><numerator>b</numerator><denominator>2</denominator></fraction>)<sup>2</sup> to both sides of the equation.
    </li>
    <br>
    <li>Factor the perfect square trinomial: <br>
        Once you have a perfect square trinomial, factor it to isolate the variable term. <br>
        Then solve for x. Rememeber ± when square terms.
    </li>
    <br>
    <li>Verify the Solutions: <br>
        Substitute each solution back into the original equation to verify that it is indeed a solution.
    </li>
</ol>

<p>Here is an Example.</p>
<p>Solve the quadratic equation: x<sup>2</sup> + 8x + 5 = 0 </p>

<ol>
    <li>Identify the Quadratic Equation: <br>
        x<sup>2</sup> + 8x + 5 = 0 <br>
    </li>
    <br>
    <li>Add the term to complete the square: <br>
        Move the c term to the otherside <br>
        x<sup>2</sup> + 8x = -5 <br>
        Adding (<fraction><numerator>2</numerator><denominator>2</denominator></fraction>)<sup>2</sup> to both sides of the equation. <br>
        x<sup>2</sup> + 8x + (<fraction><numerator>8</numerator><denominator>2</denominator></fraction>)<sup>2</sup> = -5 + (<fraction><numerator>8</numerator><denominator>2</denominator></fraction>)<sup>2</sup> <br> 
        x<sup>2</sup> + 8x + <fraction><numerator>64</numerator><denominator>4</denominator></fraction> = -5 +<fraction><numerator>64</numerator><denominator>4</denominator></fraction> <br>
        x<sup>2</sup> + 8x + 16 = -5 + 16 <br>
        x<sup>2</sup> + 8x + 16 = 11 <br>
        Hence, we have a perfect square trinomial, (x + 4)<sup>2</sup> = 11
    </li>
    <br>
    <li>Solve for x: <br>
        (x + 4)<sup>2</sup> = 11 <br>
        x + 4 = ± √<root>11</root> <br>
        x = -4 ± √<root>11</root> <br>
        Hence, x = -4 - √<root>11</root> and x = -4 + √<root>11</root>
    </li>
    <br>
    <li>Verify the Solutions: <br>
        Substitute each solution back into the original equation to verify that it is indeed a solution. <br>
        <br>
        (-4 -√<root>11</root>)<sup>2</sup> + 8  * (-4 - √<root>11</root>) + 12 = 0,  <br>
        16 + 8√<root>11</root> + 11 + -32 - 8√<root>11</root> + 12 = 0,  <br>
        16 + 11 + 5 -32 = 0 <br>
        0 = 0. <br>
        <br>
        (-4 + √<root>11</root>)<sup>2</sup> + 8  * (-4 + √<root>11</root>) + 12 = 0,  <br>
        16 - 8√<root>11</root> + 11 + -32 + 8√<root>11</root> + 12 = 0,  <br>
        16 + 11 + 5 -32 = 0 <br>
        0 = 0.
    </li>
</ol>

<p>Hence, the solutions to the quadratic equation x<sup>2</sup> - 7x + 12 = 0 are x = -4 ± √<root>11</root></p>

<p>Here is another Example.</p>
<p>Solve the quadratic equation: 2x<sup>2</sup> + 3x + 9 = 0 </p>

<ol>
    <li>Identify the Quadratic Equation: <br>
        2x<sup>2</sup> + 3x + 9 = 0 <br>
    </li>
    <br>
    <li>Add the term to complete the square: <br>
        Move the c term to the otherside <br>
        2x<sup>2</sup> + 3x = -9 <br>
        Since this quadratic is non monic you must divide the whole equation by a. <br>
        x<sup>2</sup> + <fraction><numerator>3x</numerator><denominator>2</denominator></fraction> = -<fraction><numerator>9</numerator><denominator>2</denominator></fraction> <br>
        Adding (<fraction><numerator>b</numerator><denominator>2</denominator></fraction>)<sup>2</sup> to both sides of the equation. <br>
        x<sup>2</sup> + <fraction><numerator>3x</numerator><denominator>2</denominator></fraction> + (<fraction><numerator>3</numerator><denominator>4</denominator></fraction>)<sup>2</sup> = (<fraction><numerator>3</numerator><denominator>4</denominator></fraction>)<sup>2</sup> -<fraction><numerator>9</numerator><denominator>2</denominator></fraction> <br>
        x<sup>2</sup> + <fraction><numerator>3x</numerator><denominator>2</denominator></fraction> + <fraction><numerator>9</numerator><denominator>16</denominator></fraction> = <fraction><numerator>9</numerator><denominator>16</denominator></fraction> -<fraction><numerator>9</numerator><denominator>2</denominator></fraction> <br>
        x<sup>2</sup> + <fraction><numerator>3x</numerator><denominator>2</denominator></fraction> + <fraction><numerator>9</numerator><denominator>16</denominator></fraction> = <fraction><numerator>9</numerator><denominator>16</denominator></fraction> -<fraction><numerator>72</numerator><denominator>16</denominator></fraction> <br>
        x<sup>2</sup> + <fraction><numerator>3x</numerator><denominator>2</denominator></fraction> + <fraction><numerator>9</numerator><denominator>16</denominator></fraction> = -<fraction><numerator>63</numerator><denominator>16</denominator></fraction> <br>
        Hence, we have a perfect square trinomial, (x + <fraction><numerator>3</numerator><denominator>4</denominator></fraction>)<sup>2</sup> = -<fraction><numerator>63</numerator><denominator>16</denominator></fraction>
    </li>
    <br>
    <li>Solve for x: <br>
        There's no real solutions since we can't square root a negative number. <br>
        Here's the working out if you want to know it. <br>
        x + <fraction><numerator>3</numerator><denominator>4</denominator></fraction> = ±<fraction><numerator>√<root>-63</root></numerator><denominator>√<root>16</root></denominator></fraction> <br>
        x + <fraction><numerator>3</numerator><denominator>4</denominator></fraction> = ±<fraction><numerator>√<root>-63</root></numerator><denominator>4</denominator></fraction> <br>
        x + <fraction><numerator>3</numerator><denominator>4</denominator></fraction> = ±<fraction><numerator>3√<root>-7</root></numerator><denominator>4</denominator></fraction> <br>
        x = <fraction><numerator>- 3 ± 3√<root>-7</root></numerator><denominator>4</denominator></fraction>
    </li>
    <br>
    <li>Verify the Solutions: <br>
        Substitute each solution back into the original equation to verify that it is indeed a solution. <br>
        <br>
        2 * (<fraction><numerator>(- 3 + 3√<root>-7</root>)<sup>2</sup></numerator><denominator>4<sup>2</sup></denominator></fraction>) + 3  * (<fraction><numerator>- 3 + 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>(- 3 + 3√<root>-7</root>)<sup>2</sup></numerator><denominator>16</denominator></fraction>) + 3  * (<fraction><numerator>- 3 + 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>9 - 18√<root>-7</root> - 63</numerator><denominator>16</denominator></fraction>) + 3  * (<fraction><numerator>- 3 + 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>-18√<root>-7</root> - 54</numerator><denominator>16</denominator></fraction>) + 3  * (<fraction><numerator>- 3 + 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>-9√<root>-7</root> - 27</numerator><denominator>8</denominator></fraction>) + 3  * (<fraction><numerator>- 3 + 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        <fraction><numerator>-9√<root>-7</root> - 27</numerator><denominator>4</denominator></fraction> + 3  * (<fraction><numerator>- 3 + 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        <fraction><numerator>-9√<root>-7</root> - 27</numerator><denominator>4</denominator></fraction> + <fraction><numerator>- 9 + 9√<root>-7</root></numerator><denominator>4</denominator></fraction> + 9 = 0,  <br>
        <fraction>- 36</numerator><denominator>4</denominator></fraction> + 9 = 0,  <br>
        -9 + 9 = 0,  <br>
        0 = 0. <br>
        <br>
        2 * (<fraction><numerator>(- 3 - 3√<root>-7</root>)<sup>2</sup></numerator><denominator>4<sup>2</sup></denominator></fraction>) + 3  * (<fraction><numerator>- 3 - 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>(- 3 - 3√<root>-7</root>)<sup>2</sup></numerator><denominator>16</denominator></fraction>) + 3  * (<fraction><numerator>- 3 - 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>9 + 18√<root>-7</root> - 63</numerator><denominator>16</denominator></fraction>) + 3  * (<fraction><numerator>- 3 - 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>18√<root>-7</root> - 54</numerator><denominator>16</denominator></fraction>) + 3  * (<fraction><numerator>- 3 - 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        2 * (<fraction><numerator>9<root>-7</root> - 27</numerator><denominator>8</denominator></fraction>) + 3  * (<fraction><numerator>- 3 - 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        <fraction><numerator>9√<root>-7</root> - 27</numerator><denominator>4</denominator></fraction> + 3  * (<fraction><numerator>- 3 - 3√<root>-7</root></numerator><denominator>4</denominator></fraction>) + 9 = 0,  <br>
        <fraction><numerator>9√<root>-7</root> - 27</numerator><denominator>4</denominator></fraction> + <fraction><numerator>- 9 - 9√<root>-7</root></numerator><denominator>4</denominator></fraction> + 9 = 0,  <br>
        <fraction>- 36</numerator><denominator>4</denominator></fraction> + 9 = 0,  <br>
        -9 + 9 = 0,  <br>
        0 = 0.
    </li>
</ol>

<p>Hence, there are no real solutions.</p>
<p>The imaginary solutions to the quadratic equation 2x<sup>2</sup> + 3x + 9 = 0 are x = <fraction><numerator>- 3 ± 3√<root>-7</root></numerator><denominator>4</denominator></fraction></p>


<form action="{% url 'eduprod:Quiz' %}" method="post">
    {% csrf_token %}
    <button type="submit">Practice</button>
</form>
{% endblock %}