{% extends "eduprod/layout.html" %}
{% block body %}
<h1>Complete the Square</h1>
<p>To solve quadratic equations through Completing the Square, follow these steps:</p>
<ol>
    <li>Identify the Quadratic Equation: <br>
        A quadratic equation is in the form ax^2 + bx + c = 0, 
    </li>
    <br>
    <li>Add the term to complete the square: <br>
        If there is a c term within the quadratic move it to ther other side. <br>
        Add (<sup>b</sup>&frasl;<sub>2</sub>)<sup>2</sup> to both sides of the equation.
    </li>
    <br>
    <li>Factor the perfect square trinomial: <br>
        Once you have a perfect square trinomial, factor it to isolate the variable term. <br>
        Then solve for x. Rememeber ± when square terms.
    </li>
    <br>
    <li>Verify the Solutions: <br>
        Substitute each solution back into the original equation to verify that it is indeed a solution.
    </li>
</ol>

<p>Here is an Example.</p>
<p>Solve the quadratic equation: x<sup>2</sup> + 8x + 5 = 0 </p>

<ol>
    <li>Identify the Quadratic Equation: <br>
        x<sup>2</sup> + 8x + 5 = 0 <br>
    </li>
    <br>
    <li>Add the term to complete the square: <br>
        Move the c term to the otherside <br>
        x<sup>2</sup> + 8x = -5 <br>
        Adding (<sup>b</sup>&frasl;<sub>2</sub>)<sup>2</sup> to both sides of the equation. <br>
        x<sup>2</sup> + 8x + (<sup>8</sup>&frasl;<sub>2</sub>)<sup>2</sup> = -5 + (<sup>8</sup>&frasl;<sub>2</sub>)<sup>2</sup> <br> 
        x<sup>2</sup> + 8x + <sup>64</sup>&frasl;<sub>4</sub> = -5 +<sup>64</sup>&frasl;<sub>4</sub> <br>
        x<sup>2</sup> + 8x + 16 = -5 + 16 <br>
        x<sup>2</sup> + 8x + 16 = 11 <br>
        Hence, we have a perfect square trinomial, (x + 4)<sup>2</sup> = 11
    </li>
    <br>
    <li>Solve for x: <br>
        (x + 4)<sup>2</sup> = 11
        x + 4 = ± √<span style="text-decoration:overline;">11</span>
        x = -4 ± √<span style="text-decoration:overline;">11</span>
        Hence, x = -4 - √<span style="text-decoration:overline;">11</span> and x = -4 + √<span style="text-decoration:overline;">11</span>
    </li>
    <br>
    <li>Verify the Solutions: <br>
        Substitute each solution back into the original equation to verify that it is indeed a solution. <br>
        <br>
        (-4 -√<span style="text-decoration:overline;">11</span>)<sup>2</sup> + 8  * (-4 - √<span style="text-decoration:overline;">11</span>) + 12 = 0,  <br>
        16 + 8√<span style="text-decoration:overline;">11</span> + 11 + -32 - 8√<span style="text-decoration:overline;">11</span> + 12 = 0,  <br>
        16 + 11 + 5 -32 = 0 <br>
        0 = 0. <br>
        <br>
        (-4 + √<span style="text-decoration:overline;">11</span>)<sup>2</sup> + 8  * (-4 + √<span style="text-decoration:overline;">11</span>) + 12 = 0,  <br>
        16 - 8√<span style="text-decoration:overline;">11</span> + 11 + -32 + 8√<span style="text-decoration:overline;">11</span> + 12 = 0,  <br>
        16 + 11 + 5 -32 = 0 <br>
        0 = 0.
    </li>
</ol>

<p>Hence, the solutions to the quadratic equation x<sup>2</sup> - 7x + 12 = 0 are x = -4 ± √<span style="text-decoration:overline;">11</span></p>

<p>Here is another Example.</p>
<p>Solve the quadratic equation: 2x<sup>2</sup> + 3x + 9 = 0 </p>

<ol>
    <li>Identify the Quadratic Equation: <br>
        2x<sup>2</sup> + 3x + 9 = 0 <br>
    </li>
    <br>
    <li>Add the term to complete the square: <br>
        Move the c term to the otherside <br>
        2x<sup>2</sup> + 3x = -9 <br>
        Since this quadratic is non monic you must divide the whole equation by a.
        x<sup>2</sup> + <sup>3x</sup>&frasl;<sub>2</sub> = -<sup>9</sup>&frasl;<sub>2</sub> <br>
        Adding (<sup>b</sup>&frasl;<sub>2</sub>)<sup>2</sup> to both sides of the equation. <br>
        x<sup>2</sup> + <sup>3x</sup>&frasl;<sub>2</sub> + (<sup>3</sup>&frasl;<sub>2</sub>)<sup>2</sup> = (<sup>3</sup>&frasl;<sub>2</sub>)<sup>2</sup> - <sup>9</sup>&frasl;<sub>2</sub> <br>
        x<sup>2</sup> + <sup>3x</sup>&frasl;<sub>2</sub> + <sup>9</sup>&frasl;<sub>4</sub> = <sup>9</sup>&frasl;<sub>4</sub> - <sup>9</sup>&frasl;<sub>2</sub> <br>
        x<sup>2</sup> + <sup>3x</sup>&frasl;<sub>2</sub> + <sup>9</sup>&frasl;<sub>4</sub> = <sup>9</sup>&frasl;<sub>4</sub> - <sup>9</sup>&frasl;<sub>2</sub> <br>
        x<sup>2</sup> + 8x + 16 = 11 <br>
        Hence, we have a perfect square trinomial, (x + 4)<sup>2</sup> = 11
    </li>
    <br>
    <li>Solve for x: <br>
        (x + 4)<sup>2</sup> = 11
        x + 4 = ± √<span style="text-decoration:overline;">11</span>
        x = -4 ± √<span style="text-decoration:overline;">11</span>
        Hence, x = <sup>-4 - √<span style="text-decoration:overline;">11</span></sup>&frasl;<sub>4</sub> and x = -4 + √<span style="text-decoration:overline;">11</span>
    </li>
    <br>
    <li>Verify the Solutions: <br>
        Substitute each solution back into the original equation to verify that it is indeed a solution. <br>
        <br>
        (-4 -√<span style="text-decoration:overline;">11</span>)<sup>2</sup> + 8  * (-4 - √<span style="text-decoration:overline;">11</span>) + 12 = 0,  <br>
        16 + 8√<span style="text-decoration:overline;">11</span> + 11 + -32 - 8√<span style="text-decoration:overline;">11</span> + 12 = 0,  <br>
        16 + 11 + 5 -32 = 0 <br>
        0 = 0. <br>
        <br>
        (-4 + √<span style="text-decoration:overline;">11</span>)<sup>2</sup> + 8  * (-4 + √<span style="text-decoration:overline;">11</span>) + 12 = 0,  <br>
        16 - 8√<span style="text-decoration:overline;">11</span> + 11 + -32 + 8√<span style="text-decoration:overline;">11</span> + 12 = 0,  <br>
        16 + 11 + 5 -32 = 0 <br>
        0 = 0.
    </li>
</ol>

<p>Hence, the solutions to the quadratic equation 4x<sup>2</sup> - 9 = 0 are x = ±<sup>3</sup>&frasl;<sub>2</sub>.</p>


<form action="{% url 'eduprod:Quiz' %}" method="post">
    {% csrf_token %}
    <button type="submit">Practice</button>
</form>
{% endblock %}