{% extends "eduprod/layout.html" %}
{% block body %}

<h1>Login as, {{user.username}}</h1>

<!--A list of Pages that redirect the user to it-->

<div class="grid-container">
    <a href="{% url 'eduprod:Factorise' %}">Factorise</a>
    <a href="{% url 'eduprod:Complete' %}">Completing the Square</a>
    <a href="{% url 'eduprod:Formula' %}">Quadratic Formula</a>
    <a href="{% url 'eduprod:Test' %}">Practice Your Knowledge</a>
    <a href="{% url 'eduprod:Progress' %}" style="grid-column: 1 / 2 span;">Check Progress</a>
</div>

{% endblock %}

