{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Progress</title>
    <link href="{% static 'users/styles.css' %}" rel="stylesheet">
    <script src="{% static 'eduprod/quiz.js' %}" defer></script>
    <nav>
        <ul>
            <li>
                <form action="{% url 'eduprod:index' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Home</button>
                </form>
            </li>
            <li>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            </li>
        </ul>
     </nav>
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
        <div id="content" data-questions='{{ questions_json|safe }}'></div>
</body>
</html>