{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Progress</title>
    <link href="{% static 'users/styles.css' %}" rel="stylesheet"> 
    <nav>
        <ul>
            <li>
                <form action="{% url 'eduprod:index' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Home</button>
                </form>
            </li>
            <li>
                <form action="{% url 'users:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Log out</button>
                </form>
            </li>
        </ul>
     </nav>
</head>
<body>
    {% if messages %}
        <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="grid-container">
        {% for result in results %}
        <ol style="list-style-type:none;">
            <li>Section: {{result.category}}</li>
            <li>‎ </li>
            <li>{{result.subcategory}}: {{result.question_text}}</li>
            <li>‎ </li>
            <li>‎ </li>
            <li>{{result.users}} Answered: {{result.useranswer}}</li>
            <li>Set Answer is {{result.answer_text}}</li>
        </ol>
        {% endfor %}
    </div>

    
</body>
</html>