{% extends "eduprod/layout.html" %}
{% block body %}
<h1>Practice</h1>

<p>You will be tested on the following:</p>

<p>Factorization:</p>
<ul class="points">
    <li>Factorising</li>
    <li>Expanding</li>
    <li>Finding Common Highest Factors</li>
</ul>

<p>Completing the Square:</p>
<ul class="points">
    <li>Substitution </li>
    <li>Changing Subjects</li>
    <li>Completing the Square Geometrically</li>
</ul>

<p>Quadratic Formula:</p>
<ul class="points">
    <li>Substitution </li>
    <li>The Discriminant </li>
    <li>The Symmetry of Axis </li>
</ul>

<p>Others:</p>
<ul class="points">
    <li>Word Problems </li>
    <li>Functions </li>
</ul>


<button onclick="hideElements('Test')">Practice</button>

{% endblock %}